* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

body {
    background-color: rgb(254, 255, 243);
}

/*NAVBAR CSS */
.navbar {
    background: rgb(145, 205, 255);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(0, 17, 49);
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    background: rgb(10, 43, 107);
    color:aliceblue;
}

.button:hover {
    background: rgb(13, 115, 199);
    color:aliceblue;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color:  rgb(13, 115, 199);
    transition: all 0.3s ease;
}


/* NAVBAR MOBILE RESPONSIVE CSS */
@media  screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar__logo {
        height: 20%;
        width: 20%;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: rgb(145, 205, 255);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
            padding-left: 25px;
        }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(0, 20, 56);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 80px;
        margin: 0;

    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }
}

/* HOME HERO SECTION CSS */

.index {
    background-color:rgb(254, 255, 243);
}

.index__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: rgb(253, 255, 237);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
    
}

.index__content h1 {

    font-size: 4rem;
    font-weight: bold;

}

.index__content h2 {
    font-size: 2rem;

}

.index__img--container {
    align-items: center;
    padding: 1rem;
}

.index__img--container img {
    border-radius: 30px;
}



/* SHORT ABOUT SECTION CSS */
.short__about {
    background-color:rgb(178, 219, 243);
}

.shortabout__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: rgb(178, 219, 243);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
    
}

.shortabout__content h1 {

    font-size: 4rem;
    font-weight: bold;

}

.shortabout__content h2 {
    font-size: 2rem;

}

.shortabout__content p {
    font-size: 1.1rem;
    justify-content: center;

}

.shortabout__img--container {
    align-items: center;
    padding: 3rem;
    object-fit: cover;

}

.shortabout__img--container img {
    width: 500px;
    height: auto;
    border-radius: 30px;
}



/* ABOUT SECTION CSS */
.about {
    background-color:rgb(253, 255, 237);
}

.about__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(253, 255, 237);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
    
}


.about__content h2 {

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;

}


.about__content p {
    font-size: 1.1rem;
    margin: 2rem auto;
    text-align: center;

}

.about__img--container {
    align-items: center;
    justify-content: center;
    margin: 2rem auto;



}

.about__img--container img {
    padding: 2rem auto;
    align-items: center;

}



/* AMENITIES PAGE CSS */ 
.amenities__container {
    text-align: center;
    margin: 20px auto;
    height: vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 20px 50px;
    
}

.card-deck {
    margin-top: 50px;
    display: flex;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-text {

    justify-content: center;
    padding: 1rem 1rem;
}

.amenities__container h1 {
    font-size: 4rem;
    font-weight: bold;

}


/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .index__container {
        display: grid;
        grid-template-columns: auto;
        align-items:center;
        justify-self:center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .index__content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .index__content h1 {
        font-size: 4rem;
        margin-top: 3rem;
    }

    .index__content h2 {
        font-size: 2rem;
    }

    .index__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .shortabout__container {
        display: grid;
        grid-template-columns: auto;
        align-items:center;
        justify-self:center;
        width: 100%;
        margin: 0 auto;
    }

    .shortabout__content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .shortabout__content p {
        font-size: 1.1rem;
    }

    .shortabout__img--container {
    align-items: center;
    padding: 1rem;
    object-fit: cover;

    }

    .about__img--container img {
    align-items: center;

    }

    .amenities__container {
    text-align: center;
    margin: 0 auto;
    height: 80vh;
    z-index: 1;
    width: 100%;
    padding: 10px 50px;
    }

    .about__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: rgb(253, 255, 237);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
    
    }


    .about__content h2 {

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;

    }


    .about__content p {
    font-size: 1.1rem;
    margin: 2rem auto;
    text-align: center;

    }

    .about__img--container {
    align-items: center;
    justify-content: center;
    margin: 2rem auto;

    }

    .about__img--container img {
    padding: 2rem auto;
    align-items: center;

    }

}



    
.booking__form {
	background: #ffffff;
	padding: 44px 40px 50px 40px;
	border-radius: 4px;
    margin: 50px auto;
}
.booking__form h3 {
	color: #19191a;
	margin-bottom: 36px;
}

.booking__form input {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #19191a;
    box-shadow: none;
    outline: none;

}
.booking__form form button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #658ee7;
	border-radius: 2px;
	color: #658ee7;
	font-weight: 500;
	background: transparent;
	width: 100%;
	height: 46px;
	margin-top: 30px;
}

 .footer {
    display: flex;
    flex-direction: column;
    background: rgb(145, 205, 255);
    padding: 1rem 0;
    z-index: 10;
    bottom: 0;
    align-items: center;
}

.footer__content p {
    margin: 1.5rem auto;
}